<div class="root-container">
  <div class="toolbar">
    <img src="assets/qrPlate/Memorie_Logo.svg" alt="Logo" class="logo" height="418" width="279">
    <button (click)="scrollToContact()" class="contact-button">Contact</button>
  </div>

  <div class="main-container">
    <div class="content-container">
      <img src="assets/qrPlate/PLATE.svg" alt="QR Plate" class="main-image">
      <div class="text-container">
        <div class="title">
          <span class="part-one">Create your</span>
          <span class="part-two">memorie.</span>
        </div>
        <p class="description">
          A Physical Link to Digital Remembrance. Our unique QR codes, embedded into a durable metal plate, offer a
          tangible connection to your digital memories. Scan to unlock a world of cherished photos, stories, and
          thoughts,
          creating a lasting tribute that withstands time. With Memorie QR Codes, we bridge the gap between the physical
          and digital, ensuring your loved one's legacy is always within reach.
        </p>
        <button class="kickstarter-button">See us on Kickstarter</button>
      </div>
    </div>
  </div>

  <div id="contact-section" class="contact-placeholder">
    <div class="contact-container">
      <div class="contact-info">
        <div class="title">
          <span class="part-one">Create your</span>
          <span class="part-two">memorie.</span>
        </div>

        <p class="contact-subtitle">GET IN TOUCH</p>
        <p class="contact-text">info@memorie.me</p>
        <p class="contact-subtitle">CALL US</p>
        <p class="contact-text">info@memorie.me</p>
        <p class="contact-subtitle">LOCATION</p>
        <p class="contact-text">Ljubljana, Slovenia</p>
      </div>
      <div class="contact-form">
        <form>
          <div class="form-row">
            <input type="text" id="first-name" name="first-name" placeholder="First Name" required>
            <input type="text" id="last-name" name="last-name" placeholder="Last Name" required>
          </div>
          <div class="form-row">
            <input type="email" id="email" name="email" placeholder="Email" required>
          </div>
          <div class="form-row">
            <textarea id="message" name="message" placeholder="Message" required></textarea>
          </div>
          <div class="form-row policy-submit-row">
            <div class="checkbox-container">
              <input type="checkbox" id="privacy-policy" name="privacy-policy" required>
              <label for="privacy-policy">I agree with the privacy and data protection policy.</label>
            </div>
            <button type="submit" class="submit-button">Submit</button>
          </div>
        </form>

      </div>
    </div>
    <div class="copyright">
      © 2023 Memorie d.o.o.
    </div>
  </div>
</div>
