/* app.component.css */

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

.root-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}


.toolbar {
  background-color: black;
  height: 124px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  flex-shrink: 0;
}

.logo {
  width: 173px;
  height: 33px;
}


.contact-button {
  background-color: black;
  color: white;
  border: none;
  height: 33px;
  width: 98px;
  font-size: 26px;
  font-weight: bold;
  font-family: 'Outfit', sans-serif;
  outline: none;
  box-shadow: none;
}


.main-container {
  height: calc(100vh - 124px);
  background-color: black;
  background-image: linear-gradient(to top, rgba(181, 161, 0, 0.25), transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  overflow-y: auto;
}

.content-container {
  display: flex;
  padding-left: 20%;
  padding-right: 10%;
}


.main-image {
  width: 279px;
  height: 418px;
  object-fit: contain;
}

.text-container {
  color: white;
  margin-top: 20px;
  padding-left: 7%;
}


.title {
  display: flex;
  flex-direction: column;
}


.title .part-one {
  font-family: 'Outfit', sans-serif;
  font-size: 44px;
  font-weight: 100;
}

.title .part-two {
  font-family: 'Niconne', cursive;
  font-size: 73px;
  margin-top: -25px;
}

.description {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.kickstarter-button {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  font-weight: 700;
  background-color: #ffffff;
  color: black;
  border-radius: 15px;
  height: 51px;
  width: 205px;
  border-style: none;
}

@media screen and (max-width: 1080px) {

  @media screen and (max-height: 680px) {

    .main-image {
      height: auto;
      width: 250px;
      margin-bottom: 0px;
    }

  }
  .content-container {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  .description {
    padding: 0 5%;
  }

  .main-image {
    margin-bottom: 20px;
  }

  .text-container {
    padding-left: 0;
    text-align: center;
  }

  @media screen and (max-width: 375px) {
    .main-image {
      width: 130px;
      height: 200px;
    }

  }

  .main-container {
    min-height: 90vh;
  }
}

/* iPhone 5/SE */
@media screen and (max-width: 375px) {
  .toolbar {
    height: 10vh;
    padding: 0 10px;
  }

  .logo {
    width: auto;
    height: 20px;
    margin-left: 5px;
  }

  .contact-button {
    height: auto;
    width: auto;
    font-size: 18px;
    padding: 5px 8px;
  }

  .title .part-one {
    font-size: 30px;
  }

  .title .part-two {
    font-size: 50px;
    margin-top: -15px;
  }

  .description {
    font-size: 14px;
    padding: 0 5%;
    margin-bottom: 20px;

  }

  .kickstarter-button {
    font-size: 13px;
    height: 40px;
    width: auto;
    padding: 10px 15px;
  }


  .main-image {
    height: auto;
    width: 120px;
    margin-bottom: 0px;
  }


  .main-container {
    min-height: 100vh;
  }
}

/* Contact Section Styles */
.contact-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000; /* Black background */
  background-image: linear-gradient(to bottom, rgba(181, 161, 0, 0.25), transparent);
  min-height: 100vh;
  padding: 0;
  color: white;
}

.contact-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  max-width: 1200px;
  width: 100%;
  padding: 0 10% 50px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Contact Info */
.contact-info {
  flex: 1;
  text-align: right;
}

.contact-title {
  font-family: 'Niconne', cursive;
  font-size: 73px;
  margin-top: -25px;
}

.contact-title .bold {
  font-family: 'Outfit', sans-serif;
  font-size: 44px;
  font-weight: 100;
}

.contact-subtitle {
  font-family: 'Outfit', sans-serif;
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 10px; /* Space between subtitle and text */
}

.contact-text {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px; /* Space between each text */
}

/* Contact Form */
.contact-form {
  flex-basis: 50%; /* Assigns 50% of the space to the contact-form */
  text-align: left;
  border-top: none;
  font-family: 'Outfit', sans-serif;

}

.contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: center; /* This will help keep the form vertically centered */
  height: 100%; /* Full height to aid with centering */
}

.contact-form input:first-child,
.contact-form textarea:first-child {
  margin-top: 0; /* Removes top margin from the first input/textarea */
}

.contact-form input[type="text"] {
  width: calc(50% - 10px); /* Adjust the 10px if you want a different gap */
}

.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
}

.policy-submit-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  background: transparent;
  border: 1px none white;
  border-bottom-style: solid;
  margin-bottom: 20px;
  padding: 12px;
  color: white;
  /*font-family: 'Outfit', sans-serif;*/
}

input::placeholder,
textarea::placeholder {
  color: #ccc;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
}

/* Checkboxes and Submit Button */
.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}

.submit-button {
  padding: 12px 24px;
  margin-left: 10px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;font-family: 'Outfit', sans-serif;
  transition: background-color 0.3s ease;
  border-radius: 12px;
  font-weight: bold;
}

.submit-button:hover {
  background-color: #f5f5f5; /* Light grey on hover */
}

/* Copyright Section */
.contact-placeholder .copyright {
  text-align: left; /* Align the text to the left */
  padding-left: 10px; /* Provide padding from the left side */
  padding-bottom: 10px; /* Provide padding from the bottom side */
  font-size: 12px;
  color: white;
  font-family: 'Outfit', sans-serif;
  order: 2;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-info,
  .contact-form {
    flex-basis: 100%;
  }

  .contact-form {
    order: 1; /* Contact form goes first on smaller screens */
  }

  .contact-info {
    order: 2; /* Contact info goes second on smaller screens */
  }
}

/* More responsive adjustments as needed */
@media (max-width: 480px) {
  .contact-title {
    font-size: 58px; /* Smaller title on very small screens */
  }

  .contact-subtitle,
  .contact-text {
    font-size: 20px; /* Smaller subtitle and text on very small screens */
  }
}
